/* 
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid{
    display: flex;
    display: grid;
    margin-left: 100px;
    width: 95vw;
    min-width: 1000px;
    max-width: 1600px;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
}
.div{
    height: 10px;
    width: 10px;
    background-color: rgb(171, 192, 192);
    display: inline-block;
    border: 1px solid black;
}
.top{
    height: 100px;
}
.node{
    width: 25px;
    height: 25px;
    outline: 1px solid gray;
    display: inline-block;
}

.endNode{
    background-color: rgb(245, 77, 77);
}
.startNode{
    background-color: greenyellow;
}
.color{
    background-color: aqua;
} */
body {
    margin: 0;
}
.container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.nav {
    width: 100vw;
    background-color: #34495e;
    display: flex;
    /* height: 70px; */
}
.nav h2 {
    color: white;
    margin-left: 15px;
}
.nav .clear {
    all: unset;
    cursor: pointer;
}
.nav .btns {
    margin-top: 10px;
}
.nav .visualize {
    display: flex;
}
.nav #algo {
    height: 20px; 
    margin-top: 11px;
}

.nav .algo-btn {
    margin-left: 15px;
    /* background: red; */
}
.nav .buttons {
    margin-left: 2rem;
    display: flex; 
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    color: white;
}
.nav .buttons .block {
    margin-left: 2rem;
    display: flex; 
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px; 
}
.info {
    text-align: center;
}
.info img {
    width: 15px;
    /* margin-top: 10px; */
    margin-right: 10px;
}
.info li {
    list-style: none;
    display: flex;
    /* margin-right: 20px; */
}
.info ul {
    display: flex;
    /* width: 500px; */
    width: 70%;
    justify-content: space-between;
}
.info .visited {
    background-color: aqua;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    margin-right: 10px;
}
.info .wall {
    background-color: #032547;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    margin-right: 10px;
}
.info .unvisited {
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(175, 216, 248);
    margin-top: -2px;
    margin-right: 10px;
}
.info li:first-child {
    /* margin-top: -10px; */
}
.grid {
    margin-top: 20px;
}
.node img {
    width: 15px;
    margin: 4px 4px;
}
.node {
    width: 25px;
    display: flex;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

/* .node-finish {
    background-color: red;
}

.node-start {
    background-color: green;
} */

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-wall {
    background-color: #032547;
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}

.grid-cell.active {
    background-color: red;
} 

/* .visualizeBtn{
    background-color: red;
} */

.visualizeBtn {
    margin-top: -20px;
    border: 3px solid red;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.visualizeBtn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(204, 12, 12, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}
.visualizeBtn:hover{
    background-color: #24dffcbf;
}

.visualizeBtn:active {
    background-color: #FF4742;
    border-color: #000000;
    transform: scale(.96);
}

.visualizeBtn:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}  


.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative; 
    width: 74px;
    height: 36px; 
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#wallBtn .knobs:before {
    content: "OFF";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #f44336; 
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#wallBtn .checkbox:checked + .knobs:before {
    content: "ON";
    left: 42px;
    background-color: #03a9f4; 
}

#wallBtn .checkbox:checked ~ .layer {
    background-color: #c6f1ff;
}

#wallBtn .knobs,
#wallBtn .knobs:before,
#wallBtn .layer {
    transition: 0.3s ease all;
}


@media(width < 820px) and (width >= 400px){
    .nav {
        width: 100vw;
        background-color: #34495e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 70px; */
        padding-bottom: 20px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons .block{
        display: flex;
        /* gap: 10px; */
        /* align-items: ; */
    }
    .buttons .block .r{
        margin-top: 10px;
    }
}
@media(max-width:400px){
    h2{
        text-align: center ;
    }
    .nav {
        width: 100vw;
        background-color: #34495e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 70px; */
        padding-bottom: 20px;
    }
    .visualize{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .info ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 13px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .block{
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* gap: 5px; */
        margin-left: 0px;
    }
}